#.export is a central list of all exports

#GOLANG Paths
export GOPATH=~/go
export GOROOT=/usr/local/go
export PATH=$PATH:$GOPATH:$GOROOT/bin

#Linuxbrew
export PATH="$HOME/.linuxbrew/bin:$PATH"
export MANPATH="$HOME/.linuxbrew/share/man:$MANPATH"
export INFOPATH="$HOME/.linuxbrew/share/info:$INFOPATH"

echo ".exports complete.."
